*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: url(i7.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.navbar{
    width: 85vw;
    height: 10vh;
    
}
.icon{
    font-size: 1vw;
    font-family: Arial;
    padding-left: 1vw;
    padding-top: 5vh;
    float: left;
}
.navbar img{
    width: 7%;
    float: left;
    padding-left: 3vw;
}
.logo1{
    font-size: 1.3vw;
    color: aliceblue;
    font-weight: lighter;
}
.logo2{
    font-size: 1.5vw;
    font-weight: bolder;
}
.menu{
    width: 0vw;
    float: right;
    height: 1vh;
    padding-top: 3vh;
}
.ul{
    display: flex;
    justify-content:center;
    align-items:flex-start;
}
ul li{
    list-style: none;
    margin-left: 2vw;
    margin-top: 1vh;
    font-size: 1vw;
}
.b1{
    width: 10vw;
    height: 5vh;
    background: black;
    border: 0.3vh solid;
    border-bottom-color: rgb(126, 219, 219);
    border-top-color: lemonchiffon;
    border-left-color: lightpink;
    border-right-color: lightpink;
    margin-top: 2vh;
    color: black;
    text-decoration: black;
    font-size: 2vh;
    text-align: justify;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}
.b2{
    width: 10vw;
    height: 5vh;
    background: white;
    border: 0.3vh solid white;
    margin-top: 2vh;
    color: white;
    font-size: 2vh;
    text-align: justify;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}
.b1:focus{
    outline:linear-gradient(to right, #3ebac6 0%, #8b539e 50%, #e53782 100%);
}
.b2:focus{
    outline: none;
}
.ul_li_a1{
    text-decoration:white;
    color: white;
    display: flex;
    float:none;
    padding-left: 3vw;
    font-family: Arial;
    font-weight: lighter;
    transition: 0.4s ease-in-out;
}
.ul_li_a2{
    text-decoration: black;
    color: black;
    display: flex;
    float:none;
    padding-left: 3.2vw;
    font-family: Arial;
    font-weight: lighter;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    background-image: linear-gradient(to top, lightblue, rgb(132, 237, 245),rgb(148, 245, 139),lightpink, rgb(235, 155, 228),lemonchiffon, rgb(250, 248, 136));
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.content{
    width: 95vw;
    height: 10vh;
    margin: auto;
    color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
p a{
    text-decoration:rgb(228, 138, 138);
    color: white;
    padding-left: 6vw;
    font-size: 7vw;
    font-family: Arial;
    font-weight: bolder;
    transition: 0.6s ease-in-out;
}    
.bg {
    text-align: left;
    width: 0%;
    transition: all 0.6s ease-out;
    background: #3ebac6 background; -moz-linear-gradient:(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3ebac6), color-stop(50%, #8b539e), color-stop(100%, #e53782));
    background: -webkit-linear-gradient(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    background: -o-linear-gradient(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    background: -ms-linear-gradient(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    background: linear-gradient(to right, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3ebac6', endColorstr='#e53782', GradientType=1) ;
}
    
.inner {
    display: inline-block;
    background-color: black;
    mix-blend-mode: screen;
    padding: 1vw;
    width: 10vw;
}
p a:hover{
    background-image: linear-gradient(to top, lightblue, rgb(132, 237, 245),rgb(148, 245, 139),lightpink, rgb(235, 155, 228),lemonchiffon, rgb(250, 248, 136));
    background-clip: content-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.i2{
    width: 40%;
    float: right;
}
.icons a{
    text-decoration: none;
    color: white;
    width: 1vw;
    height: 1vh;
    float: right;
}
.icons ion-icon{
    color: white;
    display: flex;
    float: right;
    position: absolute;
    bottom: 1vw;
    font-size: 3vw;
    padding-left: 1vw;
    padding-top: 1vh;
}
.l1{
    right: 2vw;
}
.l2{
    right: 6vw;
}
.l3{
    right: 10vw;
}
.icons ion-icon:hover{
    color: lightblue;
}
.i3{
    padding-left: 6vw;
    padding-top: 60vh;
    width: 8%;
    float: left;
    margin: 1.5vw;
}
@media screen and (max-width: 800px) {
    .main{
        width: 100%;
        background: url(i7.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }
    .icon{
        font-size: 2vw;
        font-family: Arial;
        padding-left: 2vw;
        padding-top: 5vh;
        float: left;
    }
    .navbar img{
        width: 10%;
        float: left;
        padding-left: 3vw;
    }
    .logo1{
        font-size: 2vh;
        color: aliceblue;
        font-weight: lighter;
    }
    .logo2{
        font-size: 2vh;
        font-weight: bolder;
    }
    .menu{
        width: 0vw;
        float: left;
        height: 1vh;
        padding-top: 3vh;
    }
    .ul{
        display: flex;
        justify-content:center;
        align-items:flex-start;
    }
    ul li{
        list-style: none;
        margin-left: 2vw;
        margin-top: 1vh;
        font-size: 1vw;
    }
    .b1{
        width: 10vw;
        height: 5vh;
        background: black;
        border: 0.3vh solid;
        border-bottom-color: rgb(126, 219, 219);
        border-top-color: lemonchiffon;
        border-left-color: lightpink;
        border-right-color: lightpink;
        margin-top: 2vh;
        color: black;
        text-decoration: black;
        font-size: 2vh;
        text-align: justify;
        border-bottom-right-radius: 1vh;
        border-bottom-left-radius: 1vh;
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
    }
    .b2{
        width: 10vw;
        height: 5vh;
        background: white;
        border: 0.3vh solid white;
        margin-top: 2vh;
        color: white;
        font-size: 2vh;
        text-align: justify;
        border-bottom-right-radius: 1vh;
        border-bottom-left-radius: 1vh;
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
    }
    .b1:focus{
        outline:linear-gradient(to right, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    }
    .b2:focus{
        outline: none;
    }
    .ul_li_a1{
        text-decoration:white;
        color: white;
        display: flex;
        float:none;
        padding-left: 3vw;
        font-family: Arial;
        font-weight: lighter;
        transition: 0.4s ease-in-out;
    }
    .ul_li_a2{
        text-decoration: black;
        color: black;
        display: flex;
        float:none;
        padding-left: 3.2vw;
        font-family: Arial;
        font-weight: lighter;
        transition: 0.4s ease-in-out;
    }
    ul li a:hover{
        background-image: linear-gradient(to top, lightblue, rgb(132, 237, 245),rgb(148, 245, 139),lightpink, rgb(235, 155, 228),lemonchiffon, rgb(250, 248, 136));
        background-clip: border-box;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    .content{
        width: 95vw;
        height: 10vh;
        margin: auto;
        color: black;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    p a{
        text-decoration:rgb(228, 138, 138);
        color: white;
        padding-left: 6vw;
        font-size: 7vw;
        font-family: Arial;
        font-weight: bolder;
        transition: 0.6s ease-in-out;
    }    
    .bg {
        text-align: left;
        width: 0%;
        transition: all 0.6s ease-out;
        background: #3ebac6 background; -moz-linear-gradient:(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3ebac6), color-stop(50%, #8b539e), color-stop(100%, #e53782));
        background: -webkit-linear-gradient(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
        background: -o-linear-gradient(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
        background: -ms-linear-gradient(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
        background: linear-gradient(to right, #3ebac6 0%, #8b539e 50%, #e53782 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3ebac6', endColorstr='#e53782', GradientType=1) ;
    }
        
    .inner {
        display: inline-block;
        background-color: black;
        mix-blend-mode: screen;
        padding: 1vw;
        width: 10vw;
    }
    p a:hover{
        background-image: linear-gradient(to top, lightblue, rgb(132, 237, 245),rgb(148, 245, 139),lightpink, rgb(235, 155, 228),lemonchiffon, rgb(250, 248, 136));
        background-clip: content-box;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    .i21{
        width: 5%;
        position:relative;
        padding-top: 100vh;
        bottom: 0vw;
        right: 0vw;
    }
    .icons a{
        text-decoration: none;
        color: white;
        width: 1vw;
        height: 1vh;
        float: right;
    }
    .icons ion-icon{
        color: white;
        display: flex;
        float: right;
        position: absolute;
        bottom: 1vw;
        font-size: 3vw;
        padding-left: 1vw;
        padding-top: 1vh;
    }
    .l1{
        right: 2vw;
    }
    .l2{
        right: 6vw;
    }
    .l3{
        right: 10vw;
    }
    .icons ion-icon:hover{
        color: lightblue;
    }
    .i3{
        padding-left: 6vw;
        padding-top: 60vh;
        width: 8%;
        float: left;
        margin: 1.5vw;
    }
}
